#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards_conteiner {
  background-color: rgba(188, 188, 188, 0.23);
  /* Color blanco con opacidad del 50% */
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  border: solid 2px rgb(3, 0, 40);
  margin: 10px;
  font-size: 20px;
  min-width: 350px;
  min-height: 500px;
}
.traductor_conteiner{
  display: flex;
  flex-direction: row;
}

textarea {
  height: 100%;
  resize: none;
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  margin-bottom: 12px;
}
textarea:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

#altavoz{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  margin: 10px;
  transition: .2s;
}
#altavoz:hover{
  transform: scale(1.1);
}

.translateBtn{
  position: absolute;
  bottom: 0;
  right: 30px;
  margin: 20px;
}
.icono_conteiner {
  display: flex;
  justify-content: center;
}


.select{
  border: none;
  appearance: none;
  color: white;
  padding:8px 10px 8px 10px;
  border-radius: 10px;
  background-color: transparent;
  transition: .2s;
  width: 150px;
  font-size: 20px;
}
.select:hover{
  outline: none;
  cursor: pointer;
  opacity: 60%;
}
.select:focus{
  outline: none;
}
.selectSelected{
  border: none;
  background-color: white;
  color: rgb(25, 19, 84);
  text-align: center;
  appearance: none;
  padding: 0 30px 0 15px;
  font-size: 16px;
  padding:8px 15px 8px 15px;
  border-radius: 10px;
  transition: .1s;
  width: 150px;
  cursor: pointer;
}
.selectSelected:focus{
  outline: none;
}


.options{
  background-color: transparent;
  margin: 10px;
  color: black;
  font-size: 16px;
}
.options:hover{
  background-color: white;
  color: rgb(25, 19, 84);
  cursor: pointer;
}

.fromSelected{
  background-color: white;
  color: rgb(25, 19, 84);
  border-radius: 10px;
}
#copy{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 30px;
  margin: 10px;
}
#copy:hover{
  transform: scale(1.1);
}

#traducirBtn {
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Posiciona absolutamente dentro del contenedor */
  bottom: 5px; /* Baja el botón para alinearlo con los iconos */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta la posición para centrar correctamente */
  margin: 0; /* Elimina cualquier margen que pueda estar afectando la posición */
}


#traducirBtn:hover{
  background-color: white;
  color: rgb(25, 19, 84);
  border-radius: 10px;
}

#addImg{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35px;
  margin: 10px;
  transition: .2s;
}
#addImg:hover{
  transform: scale(1.1);
}

#mic{
  cursor: pointer;
  position: absolute;
  top:35px;
  right: 30px;
  width: 30px;
  transition: .2s;
}

#mic:hover {
  transform: scale(1.1);
}

.upload_Conteiner{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.uploadImg{
  display: none;
}
#estiloUpload{
  display: flex;
  width: 200px;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.542);
  border-radius: 10px;
  transition: .1s;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#estiloUpload:hover{
  border: 1px solid rgba(25, 19, 84, 0.482);
  cursor: pointer;
}
@keyframes cargando{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.conteiner_iconoCargando{
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
#iconoCargando{
  border: 6px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  animation: cargando 1.3s infinite linear;
}

@media (max-width: 890px) {
  .traductor_conteiner{
    display: flex;
    flex-direction: column;
  }
  .select{
    width: 130px;
  }
  .selectSelected{
    width: 130px;
  }
  textarea{
    height: 250px;
  }
  .upload_Conteiner{
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #estiloUpload{
    width: 200px;
    height: 100px;
  }
  .cards_conteiner{
    min-height: 300px;
  }
}
@media (max-width: 475px) {
  .select{
    width: 100px;
    font-size: 17px;
  }
  .cards_conteiner{
    margin: 2px;
    min-width: auto;
  }
}



