#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.from_conteiner {
  background-color: rgba(188, 188, 188, 0.23);
  /* Color blanco con opacidad del 50% */
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  border: solid 2px rgb(153, 92, 100);
  margin: 10px;
  font-size: 20px;
}
.traductor_conteiner{
  display: flex;
  flex-direction: row;
}

textarea {
  resize: none;
  background: none;
  border: none;
  color: white;
  font-size: 17px;
}
#altavoz{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  margin: 10px;
}

textarea:focus {
  border: none;
  /* Cambia el color del borde al enfocar */
  box-shadow: none;
  outline: none;
}
.translateBtn{
  position: absolute;
  bottom: 0;
  right: 30px;
  margin: 20px;
}
.icono_conteiner {
  display: flex;
  justify-content: center;
}


.select{
  border: none;
  appearance: none;
  color: white;
  padding:8px 10px 8px 10px;
  font-size: 20px;
  border-bottom: 1px solid white;
  background-color: transparent;
  transition: .1s;
  width: 150px;
}
.select:hover{
  outline: none;
  cursor: pointer;
  border-bottom: 2px solid rgb(148,55,67);
}
.select:focus{
  outline: none;
}
.selectSelected{
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  color: white;
  font-size: 20px;
  padding:8px 15px 8px 15px;
  border-bottom: solid 1px rgb(148,55,67);
  background-color: transparent;
  transition: .1s;
  width: 150px;
}


.options{
  background-color: transparent;
  margin: 10px;
  color: black;
  font-size: 16px;
}
.options:hover{
  background-color: white;
  color: rgb(153, 92, 100);
  cursor: pointer;
}

.fromSelected{
  background-color: white;
  color: rgb(148,55,67);
  border-radius: 10px;
}
.selectSelected:focus{
  outline: none;
}
#copy{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 30px;
  margin: 10px;
}
#traducirBtn{
  margin-right: 30px;
}
#traducirBtn:hover{
  background-color: white;
  color: rgb(148,55,67);
  border-radius: 10px;
}

@media (max-width: 890px) {
  .traductor_conteiner{
    display: flex;
    flex-direction: column;
  }
  .select{
    width: 130px;
  }
  .selectSelected{
    width: 130px;
  }
  textarea{
    height: 250px;
  }
}
@media (max-width: 475px) {
  .select{
    width: 100px;
    font-size: 17px;
  }
  .from_conteiner{
    margin: 2px;
  }
}



